@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Montserrat:ital,wght@1,300&family=Playfair+Display&family=Righteous&family=Roboto+Mono:wght@200;400&display=swap');

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 100%;
}

form.formBasicEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgba(3, 3, 3, 0.274);
    text-align: center;
    z-index: 3;
    object-fit: contain;
    margin: 10px;
}

.textform {
    color: rgba(240, 248, 255, 0.749);
}

form.formBasicEmail.p h4 {
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

form.formBasicEmail.strong {
    align-items: center;
}

form.formBasicEmail.p-4 {
    background-color: rgba(246, 249, 247, 0.43);
}

form.formBasicEmail.btn.btn.success {
    width: auto;
    height: 80px;
}

form.formBasicEmail.mb-4 {
    text-shadow: 2px 2px rgb(0, 0, 0);
    color: aliceblue;
}

form.formBasicEmail.mb-3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

form.formcontact {
    color: aliceblue;
    font-size: 30px;
    text-shadow: 2px 2px rgb(39, 37, 37);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

input#email.form-control {
    width: 500px;
}

textarea.message {
    width: 500px;
    height: 80px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
}

button#enviado.btn.btn-dark {
    margin: 2px;
    position: relative;
}

#modalform {
    position: relative;
}

.modal-header {
    background-color: rgba(3, 3, 3, 0.274);

}

.modal-footer {
    background-color: rgba(3, 3, 3, 0.274);

}

@media screen and (max-width: 1280px) {
    .contacto {
        flex-wrap: wrap;
        font-size: 20px;
    }

    form.formBasicEmail {
        height: 500px;
        width: auto;
        margin: 10px;
        object-fit: contain;
    }

    form.formcontact {
        font-size: 10px;
    }

    input#email.form-control {
        width: 300px;
    }

    textarea.message {
        width: 300px;
        height: 100px;
        margin-top: 10px;
    }

    button#enviado.btn.btn-dark {
        margin: 10px;
        position: relative;
    }
}